<form method="POST">
    {{ form.hidden_tag() }}
    <div class="form-group">
        <fieldset id="first-field" style="color: #F57F17;">
            {{ form.first.label }}
            {{ form.first(class = 'form-control', placeholder = 'Enter First Name ') }}
        </fieldset>
        <fieldset id="last-field" style="color: #F57F17;">
            {{ form.last.label }}
            {{ form.last(class = 'form-control', placeholder = 'Enter Last Name ') }}
        </fieldset>
        <fieldset id="username-field" style="color: #F57F17;">
            {{ form.username.label }}
            {{ form.username(class = 'form-control', placeholder = 'Enter Username ') }}
        </fieldset>
        <fieldset id="email-field" style="color: #F57F17;">
            {{ form.email.label }}
            {{ form.email(class = 'form-control', placeholder = 'Enter Email ') }}
        </fieldset>
    </div>
    <fieldset id="pass-field" style="color: #F57F17;">
        {{ form.password.label }}
        {{ form.password(class = 'form-control', placeholder = 'Enter Password ') }}
    </fieldset>
    {{ form.submit_button(class = 'btn') }}
    </div>
</form>